In [1]:
import database as db
import scrape as sc

In [2]:
eng = db.engine_from_cli()

database password [default carvana]:
database port [default 35432]:
database host [default localhost]:

In [3]:
db.create_tables(eng)

2023-02-26 15:18:55,606 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-02-26 15:18:55,606 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-26 15:18:55,608 INFO sqlalchemy.engine.Engine select current_schema()
2023-02-26 15:18:55,608 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-26 15:18:55,609 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-02-26 15:18:55,609 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-26 15:18:55,610 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-26 15:18:55,610 INFO sqlalchemy.engine.Engine
                CREATE TABLE IF NOT EXISTS listings (
                    id                          SERIAL PRIMARY KEY,
                    body                        VARCHAR(24),
                    carvana_id                  INTEGER,
                    city                        VARCHAR(55),
                    color                       VARCHAR(55),
                    drive_type                  VARCHAR(8),
                    engine                      VARCHAR(55),
                    kbb_value                   INTEGER,
                    make                        VARCHAR(55),
                    mfg_basic_warranty_miles    INTEGER,
                    mfg_basic_warranty_months   SMALLINT,
                    mfg_dt_warranty_miles       INTEGER,
                    mfg_dt_warranty_months      SMALLINT,
                    mileage                     INTEGER,
                    model                       VARCHAR(55),
                    num_keys                    SMALLINT,
                    price                       INTEGER,
                    rem_warranty_miles          INTEGER,
                    rem_warranty_months         SMALLINT,
                    rem_dt_warranty_miles       INTEGER,
                    rem_dt_warranty_months      SMALLINT,
                    seating                     SMALLINT,
                    state                       VARCHAR(2),
                    transmission                VARCHAR(55),
                    trim                        VARCHAR(55),
                    vin                         VARCHAR(17),
                    year                        SMALLINT,
                    zip                         VARCHAR(5),
                    scrape_date                 DATE NOT NULL DEFAULT CURRENT_DATE
                );

2023-02-26 15:18:55,610 INFO sqlalchemy.engine.Engine [generated in 0.00031s] {}
2023-02-26 15:18:55,611 INFO sqlalchemy.engine.Engine COMMIT
2023-02-26 15:18:55,612 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-26 15:18:55,612 INFO sqlalchemy.engine.Engine
                CREATE TABLE IF NOT EXISTS vehicle_features (
                    vin             VARCHAR(17) NOT NULL,
                    name            VARCHAR(255) NOT NULL,
                    kbb_option_id   INTEGER NOT NULL,
                    scrape_date     DATE NOT NULL DEFAULT CURRENT_DATE,
                    PRIMARY KEY (vin, name)
                );

2023-02-26 15:18:55,612 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {}
2023-02-26 15:18:55,613 INFO sqlalchemy.engine.Engine COMMIT
2023-02-26 15:18:55,613 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-26 15:18:55,614 INFO sqlalchemy.engine.Engine
                CREATE TABLE IF NOT EXISTS vehicle_highlights (
                    vin             VARCHAR(17) NOT NULL,
                    name            VARCHAR(255) NOT NULL,
                    scrape_date     DATE NOT NULL DEFAULT CURRENT_DATE,
                    PRIMARY KEY (vin, name)
                );

2023-02-26 15:18:55,614 INFO sqlalchemy.engine.Engine [generated in 0.00033s] {}
2023-02-26 15:18:55,615 INFO sqlalchemy.engine.Engine COMMIT
2023-02-26 15:18:55,615 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-26 15:18:55,615 INFO sqlalchemy.engine.Engine
                CREATE TABLE IF NOT EXISTS vehicle_imperfections (
                    id          INTEGER PRIMARY KEY,
                    vin         VARCHAR(17) NOT NULL,
                    description VARCHAR(255) NOT NULL,
                    loc         VARCHAR(55) NOT NULL,
                    title       VARCHAR(55) NOT NULL,
                    zone        VARCHAR(105) NOT NULL,
                    scrape_date DATE NOT NULL DEFAULT CURRENT_DATE
                )

2023-02-26 15:18:55,616 INFO sqlalchemy.engine.Engine [generated in 0.00031s] {}
2023-02-26 15:18:55,616 INFO sqlalchemy.engine.Engine COMMIT
2023-02-26 15:18:55,617 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-26 15:18:55,617 INFO sqlalchemy.engine.Engine
                CREATE INDEX IF NOT EXISTS imperfections_vin_idx
                ON vehicle_imperfections (vin);

2023-02-26 15:18:55,617 INFO sqlalchemy.engine.Engine [generated in 0.00029s] {}
2023-02-26 15:18:55,619 INFO sqlalchemy.engine.Engine COMMIT
2023-02-26 15:18:55,619 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-26 15:18:55,620 INFO sqlalchemy.engine.Engine
                CREATE TABLE IF NOT EXISTS vehicle_options (
                    vin             VARCHAR(17) NOT NULL,
                    name            VARCHAR(255) NOT NULL,
                    price           INTEGER,
                    scrape_date     DATE NOT NULL DEFAULT CURRENT_DATE,
                    PRIMARY KEY (vin, name)
                )

2023-02-26 15:18:55,620 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {}
2023-02-26 15:18:55,621 INFO sqlalchemy.engine.Engine COMMIT
2023-02-26 15:18:55,621 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-26 15:18:55,622 INFO sqlalchemy.engine.Engine
                CREATE TABLE IF NOT EXISTS vehicle_std_equipment (
                    vin             VARCHAR(17) NOT NULL,
                    description     TEXT NOT NULL,
                    scrape_date     DATE NOT NULL DEFAULT CURRENT_DATE,
                    PRIMARY KEY (vin, description)
                )

2023-02-26 15:18:55,622 INFO sqlalchemy.engine.Engine [generated in 0.00037s] {}
2023-02-26 15:18:55,623 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
for model in sc.models(sc.VEHICLE_QUERIES, dbug=True):
    for listing in model:
        db.save_listing(eng, listing)